# Node
node_modules/
**/node_modules/

# Builds
dist/
build/
**/dist/
**/build/

# Env
.env
.env.*

# Logs
logs/
*.log

# Cache
.cache/
.turbo/
tmp/

# OS
.DS_Store

# Prisma
.prisma/

# Coverage
coverage/